<div class="text-center">
    <h1 class="titulo">
        <img src="../../../assets/images/logomarvel.png" alt="Marvel Logo" width="250" height="80">
        {{title}}: <small>{{character.name}}</small>
    </h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="{{character.thumbnailPath}}.{{character.thumbnailExtension}}" class="img-thumbnail" alt="{{character.name}}">
    </div>

    <div class="col-sm-6">
        <p><strong>DESCRIPTION: </strong>{{characterDesc}}</p>
        <p><strong>MODIFIED: </strong>{{character.modified | date}}</p>
        <a href="{{character.urls}}" target="_blank" class="btn btn-block custom-button">More details</a> <br>

        <a routerLink="/characters" class="btn btn-block my-2 return-button" href="#">Return</a>
    </div>
</div>