<div class="text-center">
    <h1 class="titulo">
        <img src="../../../assets/images/logomarvel.png" alt="Marvel Logo" width="250" height="80">
        {{title}}
    </h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="{{comic.thumbnailPath}}.{{comic.thumbnailExtension}}" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-6">

        <p><strong>DESCRIPTION:</strong> {{comicDesc}}</p>
        
        <a href="{{comic.urls}}" target="_blank" class="btn btn-outline btn-block custom-button">More Details</a><br>

        <a routerLink="/comics" class="btn btn-outline btn-block my-2 return-button" href="#">Return</a>

    </div>
</div>